body {
    padding: 50px;
    background-color: beige;
}

h1 {
    color: brown;
}

/*Tabla del ejercicio 2 para que ocupe todo el ancho*/
#tablagatos{
    width: 100%;
    margin-top: 10%;
}

/*CSS del ejercicio 3*/
h1.fnt-red {
    color: red;
}
.fnt-blue {
    color: blue;
}
#nombre_alumno {
    color: red;
    text-decoration: underline;
}

/*Clases nuevas del ejercicio 3*/
.titulo{
    color: lightblue;
    font-size: 30px;
    font-style: normal;
}
.texto{
    color: darkblue;
    font-size: 15px;

}
.destacado{
    font-style: normal;
    font-weight: bold;
}

/*Clases nuevas para el ejercicio 4 */
/* Actua sobre los div dentro de la clase redonda */
.redonda div{
    /* Tamaño fuente */
    font-size: 50px;
    /* Alto y ancho */
    height: 100px;
    width: 100px;
    /* Altura de linea, igual que el ancho y alto */
    line-height: 100px;
    border-radius: 50px;
    display: inline-block;
    background: blue;
    color: white;
}
/* Actua sobre la clase redonda */
.redonda{
    text-align: center;
}
/* Actua sobre la clase r1 flotandola a la izquierda */
.r1{
    float: left;
}
/* Actua sobre la clase r1 flotandola a la derecha */
.r3{
    float: right;
}


/* Añadido para el ejercicio 4 B */
.menu{
    background-color: blue;
    height: 40px;
    width: 100%;
    color: white;
}
.pie{
    background-color: red;
    height: 40px;
    width: 100%;
    color: white;
}