
div.celda {
    height: 100px;
    width: 100px;
    background-color: grey;

  }

  
  .cssTable {
    display: table;
    border-collapse:separate;
      border-spacing:5px;
      table-layout: fixed;
  }
  
  .cssRow {
    display: table-row;
  }
  
  .cssCell {
    display: table-cell;
    vertical-align:middle;
    text-align:center;
  }

  img.logo {
      background-color: gray;
      width: 100px;
      height: 100px;
  }

